html {
    position: relative;
    min-height: 100%;
}

body{
	margin: 0 0 100px;
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	background-color: #00AD72;	
	color: #1C3E47;
	line-height: 150%;
	box-sizing: border-box;
	letter-spacing: .75px;
}

header {
	width: 100%;
	overflow: hidden;
}

.box {
	margin:auto;
	width: 820px;
	padding: 20px;
	overflow: hidden;
}

main {
	clear: both;
	align-content: center;
	overflow: hidden;
}

footer {
	clear: both;
	text-align: center;
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	background-color: #006040;
}

.score {
	width: 50%;
	float: left;
	background-color: #00BA7A;
	padding: 20px;
}

.board {
	width: 33.333%;
	float: left;
	background-color: #00BA7A;
	padding: 20px;
}

.instructions {
	width: 60%;
	float: right;
}

.game {
	width: 40%;
	float: left;
}

h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 1.85em;
	font-weight: bolder;
	letter-spacing: -.5px;
}

h2 {
	font-size: 1.25em;
	font-weight: bolder;
}

h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	font-style: italic;
}

h4 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 7px;
}

h5 {
	color: #E0165A;
}

p {
	font-size: 1.15em;

}

a {
	text-decoration: none;
}
main img {
	margin: 10px 20px
}

li {
	font-size: 1.15em;
	margin-bottom: 9px;
}
/*
#00AD72 green background
#00BA7A shade green background
#1C3E47 text
#0AC4B9 blue
#E0165A pink
#7A5B0C brownish
#006040 dk gr
*/
